*{
    text-decoration: none;
}


.title1__container{
    width: 1920px;  
}

.title1__logo{
    display: flex;
    margin-top: 33.5px;
    margin-left: 370px;
  
}
.title1__vector{
    display: flex;
    color: #E0E0E0;
    margin-top: 33.5px;
    margin-left: 370px;
    
}

.title1__menu_ul{
    color: #757575;
    font-size: 16px;
    font-family: Montserrat;
    
}

.title1__menu_one{
    color: black;
}

.title1__menu_two{
    margin-left: 30px;
    color: #757575;

}

.title1__menu_three{
    margin-left: 30px;
    color: #757575;
}

.title1__menu_four{
    margin-left: 30px;
    color: #757575;
}

.title1__menu_arrow{
    margin-bottom: 3px;
}

.title1__logo_vector{
    margin-left: 33px;
    margin-top: 18px;
}

.title1__menu_signin{
    margin-left: 470px;
    margin-bottom: 200px;
}
/* TITLE 2 */

.title2__container{
    display: flex;
    flex-direction: column;
}

/* hr */ 
 
.hr__block{ 
    display: flex; 
    justify-content: space-between;
} 
 
.hr__texts{ 
    display: flex; 
    margin-left: 375px;
    flex-direction: column;
    justify-content: center; 
    width: 375px; 
} 

.hr__texts__one{
    
    font-family: Montserrat;
    font-size: 10px;
    color: #2B788B;
}

.hr__texts__two{
    
    font-family: Dela Gothic One;
    font-size: 24px;
    
}

.hr__texts__three{
    
    font-family: Montserrat;
    font-size: 8px;
    color: #757575;
}

.hr__pic{
    margin-top: 100px;
    margin-left: 100px;
}

.hr__button1{
    border-radius: 80px;
    background-color: #C3DCE3;
    color: #2B788B;
    border-width: none;
    border-style: double;
}

/* hr2 */ 
 
.hr__block2{ 
    display: flex; 
    justify-content: space-between; 
} 
 
.hr__texts2{ 
    display: flex; 
    margin-right: 350px;
    flex-direction: column; 
    justify-content: center; 
    width: 375px; 
} 

.hr__pic2{
    margin-left: 370px;
}

.login__form{
    width: 1000px;
    height: 500px;
    font-family: Montserrat;
    font-size: 32px;
    color: #2B788B;
}
